# macOS noise
.DS_Store
profile

# Unix executables & debug symbols
build/unix/isbench
build/unix/isbench-dbg
build/unix/*.dSYM/*
build/unix/*.dSYM/*

# VC++ 6.0 noise
build/vcpp6/*.opt
build/vcpp6/*.ncb
build/vcpp6/*.plg
build/vcpp6/*.001
build/vcpp6/*.vcp
build/vcpp6/WinDebug
build/vcpp6/WinRel

# VS2019+ noise
.vs
build/vs2019/*.suo
build/vs2019/*.user
build/vs2019/*.sln.docstates

build/vs2019/Debug
build/vs2019/Release
build/vs2019/x64
build/vs2019/ARM64

build/vs2019/ISBench/Debug
build/vs2019/ISBench/Release
build/vs2019/ISBench/x64
build/vs2019/ISBench/ARM64

# XCode noise
*.pbxuser
*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/*
*.xcuserstate
**/xcschemes/*
