# macOS noise
.DS_Store
profile

# Unix executables & debug symbols
build/unix/isbench
build/unix/isbench-dbg
build/unix/*.dSYM/*
build/unix/*.dSYM/*

# VS2017 noise
.vs
*.suo
*.user
*.sln.docstates

build/vs2019/Debug
build/vs2019/Release
build/vs2019/x64
build/vs2019/ARM64

build/vs2019/ISBench/Debug
build/vs2019/ISBench/Release
build/vs2019/ISBench/x64
build/vs2019/ISBench/ARM64

# XCode noise
*.pbxuser
*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/*
*.xcuserstate
**/xcschemes/*
